
.slider {
  margin-bottom: 0px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.0);
  opacity: 1;
  background: #f16522;
  color: #fff;
  padding-top: 16px;
  background-image: url(https://cdn.unifranz.com/etec/online/ver_act/cal-111/cal-111_comun/facilito/cal-111_fac_bg_video.png);
}

.slider-card {
  background: #53449c;
  padding: 0px 0px;
  margin: 10px 15px 50px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgba(142, 133, 172, 0.73);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 5px 5px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
  z-index: 110;	
}
.owl-dots .owl-dot {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f16522 !important;
}
.text-left {
  background: #f16522 !important;
}
.text-circulo {
    width: 50px;
    height: 50px;
    /* border-radius: 7%; */
    /* background: #5a348b; */
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-around;
    align-items: center;
    text-align:center;
    margin: 10px;
    /* margin: 0px auto; */
    /* padding-left: 2%; */
    position: absolute;
    font-family: Suprema;
    font-size: 20px;
    background-color:rgb(67, 64, 174);
    border-radius: 50%;
    border-left: 20px !important;
    margin-top: -1px;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: column;
}

.text-circulo > h2 {
	color: white;
	font-size: 20pt;
	font-weight: bold;
}

.lity{
  background: #5a348bb9 !important;
  position: absolute !important; 
  inset: 0px !important; 
  cursor: pointer !important;
  overflow: hidden !important;
}
/* #player{
  max-width:200px !important; 
} */
.lity-container {
  max-width: 750px !important;
  padding: 5px;
}
.lity-content {
  padding: 0%;
}
/* estilo-letras */
@media (max-width: 768px) {
  .text-center {
      font-size: 16px; 
  }
}
@media (max-width: 370px) {
  .text-center {
      font-size: 11px; 
      text-align: right !important;
      padding-right: 2%;
    }
    .text-circulo {
      width: 30px;
      height: 30px;
      margin-top: -5px;
      font-size: 10px;
      text-align: right;
    }
    .slider .owl-item.active.center .slider-card {
      padding-top: 20px;
    }
}
@media (max-width: 280px) {
  .text-center {
      font-size: 11px; 
      text-align: right !important;
      padding-right: 2%;
    }
    .text-circulo {
      width: 30px;
      height: 30px;
      margin-top: -5px;
      font-size: 10px;
      text-align: right;
    }
    .slider .owl-item.active.center .slider-card {
      padding-top: 20px;
    }
}
.fa-angle-right:before {
  content: "\f105";
  font-size: 50pt;
  color: #5a348b;
  text-shadow: 2px 2px 4px rgba(1, 1, 11, 0.798);
}
.fa-angle-left:before {
  content: "\f104";
  font-size: 50pt;
  color: #5a348b;
  text-shadow: 2px 2px 4px rgba(1, 1, 11, 0.798);
}
/*

.fa-angle-right:before {
    content: "\f105";
    width: 60px;
    height: 30px;
    border-radius: 50%;
    background: #f16522;
    color: white;
	z-index: 100;
}


.fa-angle-left:before {
    width: 60px;
    height: 30px;
    border-radius: 50%;
    background: #f16522;
    color: white;
	z-index: 100;
}

*/